[Unit]
Description=Client Server Service
After=network.target

[Service]
WorkingDirectory=/root
ExecStart=python3 host_server.py --command start --port 446
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target