[Unit]
Description=Client Server Service
After=network.target

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/python3 vpn_server.py --server_ip 191.10.10.1 --server_port 446 --hosting_port 445
Restart=on-failure

[Install]
WantedBy=multi-user.target